################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConstructionCalculator/Properties/PublishProfiles/FolderProfile.pubxml
/.vs
/ConstructionCalculator/.vs/ConstructionCalculator
/ConstructionCalculator/bin
/ConstructionCalculator/obj
/ConstructionCalculator/Properties/PublishProfiles
/Installer
/innosetup-6.5.4.exe
/ConstructionCalculator/README.md
/ConstructionCalculator/.vs/ProjectEvaluation
/ConstructionCalculator.Core/bin
/ConstructionCalculator.Core/obj
/ConstructionCalculatorMAUI/.vs
/ConstructionCalculatorMAUI/bin
/ConstructionCalculatorMAUI/obj
/ConstructionCalculatorMAUI/AppPackages/ConstructionCalculatorMAUI_2.0.0.0_Test
/ConstructionCalculator.WPF/obj
/ConstructionCalculator.WPF/bin/Release/net10.0-windows
